<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>IPFSDownloadAnalyzer</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- nav -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <h1>IPFSDownloadAnalyzer</h1>
                </nav>
                <!-- Begin Page Content -->
                <div id="downloadform" class="container-fluid text-center">
                    <div class="row justify-content-center">
                      <div class="col-4">
                        <img src="{{ url_for('static', filename='ipfs_logo.png') }}" width="128"/>
                        <br><br>
                        <h3>Welcome to IPFSDownloadAnalyzer!</h3>
                        <h5>This tool can monitor a IPFS download and give some interesting stats in realtime</h5>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CID</span>
                            </div>
                            <input type="text" id="cid" class="form-control" placeholder="Insert the file CID" aria-label="Insert the file CID" aria-describedby="basic-addon1">
                        </div>
                        <b>WARNING! </b><br>
                        The local cache will be cleared in order to analyze the full download<br><br>
                        <button class="btn btn-primary" id="download">Download!</button>
                        <br><br><br>
                          <b>Example file:</b>
                        QmdmQXB2mzChmMeKY47C43LxUdg1NDJ5MWcKMKxDu7RgQm <b>(107MB)</b>
                      </div>
                    </div>
                </div>
                <div id="downloadpage" class="container-fluid" style="display:none">

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Connected Peers -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Connected Peers</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="connected">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Download Size -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Download size</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 size_label"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Download Progress -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Download (<span class="downloaded_label">0 bytes</span>)
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="progress_label">0%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div id="progressbar" class="progress-bar bg-info" role="progressbar"
                                                            style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Average Download Speed -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Average Download Speed</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="speed">0 b/s</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">
                        <div class="col-lg-6 mb-4 d-flex align-items-stretch" >

                            <!-- Download Details -->
                            <div class="card shadow mb-4" style="width:100%!important">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Download Details</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        <b>Status:</b> <span id="daemonstatus"></span><br>
                                        <b>CID:</b> <span id="cid_label"></span><br>
                                        <b>Total Size:</b> <span class="size_label"></span><br>
                                        <b>Downloaded:</b> <span class="downloaded_label">0 bytes</span><br>
                                        <b>Extra Traffic:</b> <span class="extradownloaded_label">0 bytes</span>

                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-6 col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Peer Chart</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <figure class="highcharts-figure">
                                        <div id="myPieChart"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- Peer Datatable -->
                        <div class="col-12">
                            <div class="card shadow mb-4">
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="peerstable" class="table table-bordered table-striped table-hover" width="100%" cellspacing="0">
                                            <thead>
                                                <th>Country</th>
                                                <th>Peer ID</th>
                                                <th>Peer IP</th>
                                                <th>Downloaded</th>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">World Map</h6>
                                </div>
                                <div class="card-body">
                                    <p>The file is almost in <b id="countries_label"></b> countries.</p>
                                    <div id="mapdiv" style="width: 100%; height: 450px;"></div>
                                </div>
                            </div>
                        </div>

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Download Progression</h6>
                                </div>
                                <div class="card-body">
                                    <figure class="highcharts-figure">
                                        <div id="downloadchart"></div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Francesco Fattori (Matr. 626200)</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Bootstrap core JavaScript-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.24/sorting/file-size.js"></script>

    <!-- Map -->
    <script src="https://www.amcharts.com/lib/3/ammap.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldHigh.js" type="text/javascript"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js" type="text/javascript"></script>


    <script src="{{ url_for('static', filename='js/charts.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}" type="text/javascript"></script>

</body>

</html>
